body {
  padding: 80px 0 70px 0;
  -webkit-user-select: none;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ddd;
  z-index: 1;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%); /* W3C */
}

#header h1 {
  text-align: center;
  font-size: 32px;
  margin: 8px;
  color: #555;
}

#content {
  padding: 0 10px;
  width: 300px;
}

h4:first-child {
  margin-top: 0;
}

.editor label {
  display: block;
  padding-bottom: 10px;
}

.editor label .text {
  display: inline-block;
  width: 100px;
  text-align: right;
  vertical-align: top;
}

.editor label select, .editor label input[type=text] {
  width: 170px;
}

.editor label input[type=number] {
  width: 80px;
}

.editor .screen-type {
  margin-bottom: 30px;
}

textarea {
  width: 280px;
  margin: 0 5px;
}

.editor .toggle-preview {
  display: block;
  width: 280px;
  text-align: right;
  margin: 0 0 15px 0;
}

.editor .option {
  margin-bottom: 15px;
}

.editor .add-option, .editor .remove-option {
  float: right;
  text-align: center;
  margin: 0 20px;
}

.editor .add-option {
  margin-bottom: 10px;
}

.editor .edit-options .title {
  font-weight: bold;
}

.editor .edit-next-screen {
  clear: right;
  padding-top: 30px;
}

.editor .current-latitude, .editor .current-longitude, .editor .current-accuracy {
  display: block;
  margin-left: 100px;
  padding: 5px 10px;
  font-family: monospace;
}

.actions {
  margin: 25px;
  text-align: center;
}

.actions .action {
  margin: 5px;
  width: 200px;
}

.hidden {
  display: none !important;
}

.editor.index li {
  line-height: 2em;
  list-style-type: none;
}

.editor.index [name=delete] {
  float: right;
  margin-top: 5px;
}

.editor.index [name=location-add], .editor.index [name=screen-add] {
  margin-left: 40px;
}
